<div style="text-align: center;">

  <!-- Concepto Style Binding -->
  <h1 [style.font-size.%]="myHelloComponent.namesList.length > 0 ? 200: 150" 
      [style.color]="myHelloComponent.namesList.length > 0 ? 'red': 'black'">
    Lest Learn Angular
  </h1>

  <div [class.hidden]="myHelloComponent.inputName.length == 0">
    Writting '{{ myHelloComponent.inputName }}' in HelloComponent
  </div>

<app-hello #myHelloComponent [name]="myName" (sayHello)="onSayHello($event)"></app-hello>
</div>

<app-hello name="Nata"></app-hello>
<app-hello name="Tito"></app-hello> 
<router-outlet />
